* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;

    min-width: 600px;
}

.compose-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    font-size: 20px;
    background: white;
    padding: 4px;
    margin: 10px 20px;
    border: none;
    border-radius: 20px;
}

.compose-btn>span.material-icons {
    font-size: 24px;
    margin-right: 6px;
}

.compose-btn-container {
    display: flex;
    justify-content: center;
}

.entry {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 90%;
  max-height: 120px;
  overflow: hidden;
}

.entry span {
  flex-grow: 1;
}

.journal {
    padding: 10px;
}

.journal:nth-child(odd) {
    background: whitesmoke;
}

.journal-content {
    width: 100%;
    height: 90%;
    background: white;
    padding: 40px;
    border: 1px solid black;
}

.journal-display {
    width: 80%;
    height: 90%;    
}

.journal-display-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 90vw;
    background: url("https://cdn.hipwallpaper.com/i/22/44/AKMUqs.gif");
}

.journal-list {
    overflow: auto;
}

.journal-title {
    width: 100%;
    height: 10%;
    font-size: 24px;
    padding: 10px;
}

.side-bar {
    display: flex;
    flex-direction: column;

    height: 92vh;
    width: 20vw;
    min-width: 250px;
    background: #E1E8FF;
    border-right: 1px solid #4E68EF;
}

.tool-bar {
    display: flex;
    justify-content: flex-end;
    padding: 4px 10px;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 8vh;
    background: #4E68EF;
}

#entry-list {
  list-style-type: none;
  padding: 0;
}
